.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding: 94px 0;
  }
}
.clients__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @include desk {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.clienst__list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.clienst__list-link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid #2196f3;
    fill: var(--accent);
  }
}

.clienst__list-item {
  fill: currentColor;
  @media screen and (max-width: 767px) {
    width: calc((100% - 1 * 30px) / 2);

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 3);

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 5 * 30px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
