.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
}
.footer__contact-block {
  margin-right: 70px;
  padding-top: 60px;
}
.footer__social-block {
  padding-top: 72px;
  margin-right: 93px;
}
